.headerLink {
  display: inline-block;
  height: 100%;
  line-height: 70px;
  font-size: 16px;
  text-align: center;
  width: 12%;
}
.headerSearchInput {
  position: relative;
  height: 100%;
  margin-top: 17px;
  input {
    margin-left: 95px;
    font-size: 16px;
    box-sizing: border-box;
    width: 300px;
    outline: none;
    border-radius: 20px;
    border:1px solid #ccc;
    padding: 5px 15px;
    margin-right: 20px;
    vertical-align: middle;
  }
  .headerIcon {
    position: absolute;
    font-size: 20px;
    right: 36px;
    top: 2px;
    &:hover {
      color: #e91e63;
      cursor: pointer; 
    }
  }
}
