.musiclyrics {
  position: relative;
  height: calc(100vh - 265px);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  > ul {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    .musicLyricsLight {
      color: #e91e63 !important;
    }
    > li {
      height: 50px;
      width: 100%;
      font-size: 22px;
      line-height: 50px;
      text-align: center;
    }
  }
}
