.bigBox {
  width: 100%;
  background-image: url('~@/assets/img/64073_bg.webp');
  background-repeat: repeat;
  .dynamicWrapper {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-image: url('~@/assets/img/64073_top.webp');
    .dynamicBox {
      overflow: hidden;
      width: 600px;
      margin: 0 auto;
      .releaseBox {
        padding: 10px;
        background-color: #fff;
        margin-top: 10px;
        text-align: right;
        .uploadBox {
          margin-top: 10px;
          text-align: start;
        }
      }
    }
  }
}
